In [ ]:
#QUES-1
s="Hi there Class!"
print(s[0])
x=s.split()
print(x[0])

H
Hi

In [ ]:
#QUES-2
planet="Earth"
diameter=12742
statement="The diameter of {} is {} kilometers.".format(planet,diameter)
print(statement)

The diameter of Earth is 12742 kilometers.

In [ ]:
#QUES-3
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

In [ ]:
#QUES-4
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

In [ ]:
#QUES-5
def get_domain(str):
    x=str.split('@')
    y=x[1].split('.')
    return y[0]
email="user@domain.com"

y=get_domain(email)
print(y)

domain

In [ ]:
#QUES-6
def is_dog_present(x):
    y=x.find('dog')
    if y!=-1:
      return True
    else:
      return False
string=input("Enter String: ")
print(is_dog_present(string))
#Hello there! We bought one more dog for our house
#Hello there! We bought two more cats for our house

Enter String: Hello there! We bought one more dog for our house
True

In [ ]:
#QUES-7
def countOccurrences(str, word):
  count=0
  for i in range(0,len(str)-3):
    if word==str[i:i+3]:
      count+=1
  return count
str ="We have a dog, only one dog and that dog is very annoying"
word ="dog"
print(countOccurrences(str, word))

3

In [ ]:
#QUES-8
seq=['soup','dog','salad','cat','great']
print(list(filter(lambda x:x[0]=='s',seq)))

['soup', 'salad']

In [ ]:
#QUES-9
def caught_speeding(speed,birthday):
    if(birthday=="false"):
        if speed<=60:
            print( "No Challan")
        elif speed>=61 and speed<=80:
            print("Small Challan")
        elif speed>=81:
            print("Heavy Challan")
    elif (birthday=="true"):
        caught_speeding(speed-5,"false")
caught_speeding(81,"true")
caught_speeding(81,"false")

Small Challan
Heavy Challan

In [ ]:
#QUES-10
list1 = ["M", "na", "i", "She"] 
list2 = ["y", "me", "s", "lly"]

list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Shelly']

In [ ]:
#QUES-11
list1 = ["Hello ", "take "] 
list2 = ["Dear", "Sir"]

temp = [(a, b) for a in list1 for b in list2]
list3 = [x + ' ' + y for (x,y) in temp]

list3

['Hello  Dear', 'Hello  Sir', 'take  Dear', 'take  Sir']

In [ ]:
#QUES-12
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#QUES-13
list1 = [5, 20, 15, 20, 25, 50, 20]

def remove_20_occurrence(list1, rvalue):
  return [value for value in list1 if value != rvalue]

result = remove_20_occurrence(list1, 20)
result

[5, 15, 25, 50]

In [ ]:
#QUES-14
d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
  print("Yes")
else:
  print("No")

Yes

In [ ]:
#QUES-15
import math
n = int(input("Number of terms: "))
def sumOfSeries(n):
  return 0.0246 * (math.pow(10, n) - 1 - (9 * n))
print(sumOfSeries(n))

Number of terms: 5
2458.8684